/* LA WEA OTAKU, ESTA ES MI SECCIÓN */

.marginTop{
    padding-top:50px;
}

/* ACÁ TERMINA MI SECCIÓN */

body{
    background-color: #e3e3e3;
}

h1{
    color: #0F9FA8;
}
h2,h3,h4,h5,a, p{
    font-size: 18px;
}
h6{
    font-size: 15px;
}
h2,h3,h4,h5,h6,a{
    color: #0F9FA8;
}


.btn-buscar{
    background-color: #0F9FA8;
    color: white;
    width: 190px;
    border-radius: 0px 80px 80px 0px;
}

.btn-buscar:hover{
    background-color: #096066;
    color: white;
    width: 250px;
    transition: 500ms all;
    border-radius: 0px 80px 80px 0px;
}

.nueva{
    background-color: #FEB413;
    color: white;
    width: 170px;
    border-radius: 80px 80px 80px 80px;
}

.nueva:hover{
    background-color: #c99118;
    color: white;
    width: 300px;
    transition: 500ms all;
    border-radius: 80px 80px 80px 80px;
}

.tooltip-inner{
 
    max-width: 250px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #FEB413  ;
    border-radius: 15px;
    
}
.tooltip .arrow:before {

    border-bottom-color: #FEB413;
    border-width: 0px; 
}

nav{
    
    box-shadow: 1px 1px 3px #888888;
    
}

nav a{
    transition: all 200ms;
}


.divBuscar{
  padding-left:50px;
  padding-right:50px;
  padding-top:40px;
  padding-bottom:10px;
}
.bordeSombreado{
  -webkit-box-shadow: 5px 2px 14px -1px rgba(0,0,0,0.30);
  -moz-box-shadow: 5px 2px 14px -1px rgba(0,0,0,0.30);
  box-shadow: 5px 2px 14px -1px rgba(0,0,0,0.30);
  border: 1px solid #8CCACE;
}
.botonCeleste{
  background-color:#FEB413;
  color:white;
}

.ancho{
  width: 150px;
  
}

#seleccionado{
    color: #FEB413;
}
#navbarDropdown:hover{
    color: #FEB413;
}

#divInfo{
    padding: 50px;
    background-color:white;
    box-shadow: 1px 2px 10px #d8cdcd;
    border-radius: 15px;
    border-left: 3px solid #FEB413;
    border-right: 3px solid #FEB413;
}



#divContacto, #divCruds, #divRoles{
    padding: 30px;
    border: .5px solid #d8cdcd;
    box-shadow: 2px 3px 10px #d8cdcd;
    border-radius: 15px;
    background-color: white;
}

/* Bordes redondeados */
#CatPerfilDiv, #ListaPerfiles, #CatPerfilDivR, #ListaPerfilesR, #tituloCatPrincipal, #nombresCatPrincipal, #tituloCatSecundaria, #nombresCatSecundaria{
    border-radius: 10px;
}



/* Asteriscos en Formulario de contacto */
#formulario_contacto_nombre, #formulario_contacto_apellido,#formulario_contacto_email{
    margin-top: -6px;
}
#asteriscoEmail{
    margin-left: -560px;
}

/* Botones Aceptar */
#perfil_solicitante_Aceptar:hover, #categoria_principal_Aceptar:hover, #categoria_secundaria_Aceptar:hover, #informacion_Aceptar:hover, #destino_Aceptar:hover,#formulario_contacto_Enviar:hover{
    background-color: #0F9FA8;
}
/* Ajutes de tamaños para la parte de Sistemas  */
    #contactoPC, #contactoPC2{
        border-radius: 10px;
    }

    #contactoPC:hover{
        background-color: #0F9FA8;
    }
    #contactoPC2:hover{
        background-color: #0F9FA8;
    }

    #borde, #bordeP{
        box-shadow: 1px 1px 2px #888888;
    }
    #borde:hover{
        border-left: 4px solid #FEB413;
        color: #FEB413;
        
    }
    

    #TextCatPP{
        display: inline;
        
        font-size: 18px; 
        text-transform: uppercase; 
    }

    #textCatSecPerfil{
        display: inline;
        
        font-size: 18px; 
        text-transform: uppercase; 
    }

    #TextInfo1{
        display: inline;
        
        font-size: 18px; 
        text-transform: uppercase; 
    }
    #TextInfo2, #TextInfo3{
        
        font-size: 18px; 
        text-transform: uppercase; 
    }
    #flechitaAtras{
        display: none;
    }
    #contactoCelu{
        display: none;
    }
  
/* Fin Sistema */

/* Efecto */
/* @-webkit-keyframes pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  .pulse-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: pulse-shrink;
    animation-name: pulse-shrink;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  } */

  
  /* @-webkit-keyframes buzz-out-on-hover {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  @keyframes buzz-out-on-hover {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  .buzz-out-on {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: buzz-out-on-hover;
    animation-name: buzz-out-on-hover;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  } */

  @-webkit-keyframes wobble-vertical-on-hover {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes wobble-vertical-on-hover {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: wobble-vertical-on-hover;
    animation-name: wobble-vertical-on-hover;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
 
/* Fin efecto */

/* Ajustes de tamaño para modificaciones */
    #perfil_solicitante_descripcion_larga, #categoria_principal_descripcion_categoria, #categoria_secundaria_descripcion_categoria{
        height: 150px;
    }

    #formulario_contacto_motivo_contacto, #informacion_explicacion{
        height: 250px;
    }
    
    #textoAsignar{
        font-size: 30px;
    }

    #divEnviar{
        display: none;
    }

/* Fin de modificaciones */

/* Rotar icono */

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
#icono{
    -webkit-animation: 15s rotate linear infinite;
    animation: 15s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}


/* MediaQuery para escalar tamaños en la web */
@media screen and (min-width: 1000px) {
    
    .formContacto{
        display: block;
        width: 50%;
        margin: 0px auto;
    }
    .divDNI{
        display: block;
        width: 35%;
        
    }
    
    #volverIntranet{
        margin-left: 60px;
    }

    /* Esto es lo del usuario final en PC */
    #CatPrincipalDiv, #CatSecundariaDiv{
        width: 600px;
    }

    /* Use el mismo id en todos los divs para no tener que crear muchos ID en cada seccion, esto es para administrar el sistema */
    #divPertenece, #divDescripcLarga{
        width: 600px;

    }


    .grow{
        transition: all .2s ease-in-out;
    }
      
    .grow:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }


}


/* MediaQuery para escalar todo en el celu */

@media screen and (max-width: 600px) {
/* Sistema */
    /* Inicio */
    #imgLogin{
        width: 250px;
    }
    #divInfo , p img{
        width: 100% !important;
        height: 100% !important;
    }
    #CatPerfilDivR{
        margin-top: 20px;
    }
    #volverIntranet{
       margin-bottom: 35px;
       
    }

    /* Categoria principal */
    #CatPrincipalDiv{
        margin-top: 50px;
       
    }
    #TextCatPP{
        display: block;    
    }

    /* Categoria secundaria */
    #CatSecundariaDiv{
       
        margin-top: 50px;
    }

    #textCatSecPerfil{
        
        display: block;
        
    }
    #ContactoPC3{
        display: none;
    }
    #contactoCelu{
        display: block;
    }
 
    /* Informacion */
    #TextInfo1{
        font-size: 16px;
        display: block;
    }
    #TextInfo2{
        font-size: 16px;
        display: block;
        
    }
    #TextInfo3{
        font-size: 16px;
        display: block;
        margin-top: 10px;
    }


    /* Caminito */
    #divCaminito{
        display: none;
    }
    #flechitaAtras{
        display: inline;
    }

    /* Formulario de Contacto */

    #divEnviar{
        display: none;
    }

    /* Asteriscos en Formulario de contacto */
    #asteriscoEmail{
      margin-left: -240px;
    }


/* Modificar pestañas */
    /* Apta para todos por mas que se llame perfiles */
    #textoAsignar{
        font-size: 18px;
    }
 
}


/* COSO DE CSS */



