{% extends 'base.html.twig' %}

{% block title %}Login - FAQS{% endblock %}

{% block body %}

    <div class = "container mt-5">
        <div class = "text-center">
            <img class = "mb-4" src = "{{asset('img/iconoUnraf.png')}}" width="60" height="60" alt="iconoUnraf" id = "icono"> 
            <h1 style="font-size:50px; display:inline "class = "text-center  ">Bienvenido al Sistema FAQS </h1>
           
        </div>  
        <div class="container text-center mt-5" style = "padding: 50px; box-shadow: 2px 3px 5px #888888;">
            <div class="text-center">
                <h1  style = "font-size: 45px;">LOGIN</h1>
                <h6 class = "text-secondary"> *Sólo correo institucionales </h6>
                <a class="btn p-2 mt-4 btn-lg"  href="{{ path('connect_google_start') }}"><img src = "{{asset('img/loginGoogle.png')}}" width = "100"></a>        
            </div>
             <div class = "text-center mt-5">
                <i class="fas fa-caret-right text-info mr-2" style = "font-size: 20px;"></i><a href = "{{path('sistema')}}" class = "text-info" style = "text-decoration: none;">Ver como usuario final</a><i class="ml-2 fas fa-caret-left text-info" style = "font-size: 20px;"></i>
            </div>
        </div>
       
 
 
  




{% endblock %}